[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
max-complexity = 10
extend-ignore = W503
docstring-convention = numpy
classmethod-decorators =
    classmethod
    validator
    root_validator

